<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">The best THP team ever seen</h5>
    <div class="card-text text-left">
    <p>Nothing would have been possible without them :</p>
		<ul>
			<li>Hermine : Fullstack and sandwiches dev </li>
			<li>Benjamin : Ru(g)by specialist </li>
			<li>Dimitri : Community manager (sûrement le seul que vous connaissez déjà)</li>
			<li>Jordan : Frontend and beard master </li>
			<li>Louis : Timekeeper - "Jamais en retard 2 fois dans la même journée"</li>
		</ul>
</div>
  </div>
</div>
