<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Please don't contact us!</h5>
    <div class="card-text">
    <p>If you really want to talk about this amazing website :</p>
		<ul>
			<li>Slack : @Philippe GATTI </li>
			<li>Phone # : +33 6 08 21 30 63 </li>
		</ul>
</div>
  </div>
</div>